table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #2c3e50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
img {
    width: 200px;
    height: auto;
}